<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-G9YbB4o4U6WS4wCthMOpAeweY4gQJyyx0P3nZbEBHyz+AtNoeasfRChmek1C2iqV" crossorigin="anonymous">
    </head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">simple twitter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">my profile</a>
          </li>
        </ul>
        <div class="input-group-append">
            <a href="/logout"><button type="button" class="btn btn-secondary">log out</button></a>
        </div>
      </div>
    </nav>

    <div class = "container mt-5">
        <div class = "row no-gutters">
            <div class = "col-md-3 ml-0">
                <!--<button type="button" class="btn btn-outline-primary">Primary</button>
                <br> <br>
                <button type="button" class="btn btn-outline-secondary">Secondary</button>-->
                <br><br><br><br>
                <a href="/home"><h2> twittersphere</h2></a>
                <br>
                <a href ="/hashtags"><h2 class="text-muted">hashtags</h2></a>
            </div>
            <div class = "col-md-6">
                <h1>the twittersphere</h1>

                <br><br>
                {%for tweet in tweets%}
                <div class="card text-white bg-primary" >
                  <h5 class="card-header">@{{tweet.author.username}}  <small class="text muted">{{ tweet.created_at|date:"(m/d · g:i a)" }}</small></h5>
                    <div class="card-body">
                      <p class="card-text">{{tweet.body}}</p>
                    </div>
                </div>
                <br>
                {%endfor%}
                <br><br>
            </div>
        </div>
    </div>
</html>