<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-G9YbB4o4U6WS4wCthMOpAeweY4gQJyyx0P3nZbEBHyz+AtNoeasfRChmek1C2iqV" crossorigin="anonymous">
    </head>


    <div class="jumbotron d-flex align-items-center min-vh-100">
        <div class="container text-center">
            <h1>
                simple twitter
            </h1>
            <h3>
              <small class="text-muted">twitter, but simple </small>
            </h3>
            <br>

            {% if user.is_authenticated %}
            <a href = "myprofile/"> <button type="button" class="btn btn-secondary">go to profile</button></a>

            {%else%}
            <a href = "login/"> <button type="button" class="btn btn-primary">log in</button></a>
            <a href = "signup/"><button type="button"  class="btn btn-secondary">sign up</button></a>
            {%endif%}
        </div>
    </div>
    <div class = "container text-center">
       <small><i><b> © a software company, 2020 </b></i></small>
    </div>



</html>